swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: black;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-box:hover .p {
  top: 0;
}

.p {
  transition: 0.5s all;
}

.nav-bar-anchor-links {
  transition: transform ease 0.4s;
  padding: 0 10px;
}

.nav-bar-anchor-links {
  transform: scale(1.2);
}

.banner-spaceship {
  position: absolute;
  animation: spaceship 2s infinite normal linear;
  -webkit-animation: spaceship 25s infinite normal linear;
  width: 150px;
}

@keyframes spaceship {
  0% {
    right: -15%;
    top: 11%;
  }

  100% {
    right: 110%;
    top: 11%;
  }
}

@media screen and (max-width: 300px) {
  @keyframes spaceship {
    0% {
      right: -40%;
      top: 11%;
    }

    100% {
      right: 130%;
      top: 11%;
    }
  }
}

/* Icon Size for Skills Components */

@media (min-width: 1671px) {
  /* biggest screens */
  .fa-unity-skills,
  .fa-node-js-skills,
  .fa-github-skills,
  .fa-react-skills,
  .fa-python-skills,
  .fa-sketch-skills,
  .fa-aws-skills,
  .fa-android-skills {
    font-size: 8em;
  }
}

@media (max-width: 1670px) and (min-width: 1280px) {
  /* xl screens */
  .fa-unity-skills,
  .fa-node-js-skills,
  .fa-github-skills,
  .fa-react-skills,
  .fa-python-skills,
  .fa-sketch-skills,
  .fa-aws-skills,
  .fa-android-skills {
    font-size: 6em;
  }
}

@media (max-width: 1279px) and (min-width: 1024px) {
  /* lg screens */
  .fa-unity-skills,
  .fa-node-js-skills,
  .fa-github-skills,
  .fa-react-skills,
  .fa-python-skills,
  .fa-sketch-skills,
  .fa-aws-skills,
  .fa-android-skills {
    font-size: 5em;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  /* md screens */
  .fa-unity-skills,
  .fa-node-js-skills,
  .fa-github-skills,
  .fa-react-skills,
  .fa-python-skills,
  .fa-sketch-skills,
  .fa-aws-skills,
  .fa-android-skills {
    font-size: 5em;
  }
}

@media (max-width: 767px) and (min-width: 450px) {
  /* sm screens */
  .fa-unity-skills,
  .fa-node-js-skills,
  .fa-github-skills,
  .fa-react-skills,
  .fa-python-skills,
  .fa-sketch-skills,
  .fa-aws-skills,
  .fa-android-skills {
    font-size: 4em;
  }
}

@media (max-width: 449px) {
  /* xs screens */
  .fa-unity-skills,
  .fa-node-js-skills,
  .fa-github-skills,
  .fa-react-skills,
  .fa-python-skills,
  .fa-sketch-skills,
  .fa-aws-skills,
  .fa-android-skills {
    font-size: 3em;
  }
}
